# Step 1: Data

### Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime 
import numpy as np
import os
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem.porter import PorterStemmer
import json
import collections
import itertools
#nltk.download('punkt')
#nltk.download('stopwords')
import library #library of functions

# To reaload library import
from importlib import reload
reload(library)

# To print results
BOLD = '\033[1m'
END = '\033[0m'

We only need some columns values of the Airbnb_Texas_Rentals.csv so we filter the result by:

In [2]:
# List of column values needed
cols = ['average_rate_per_night', 'bedrooms_count', 'city', 'date_of_listing', 'description', 'latitude', 'longitude', 'title', 'url']
# Read the csv file
airbnbrentals = pd.read_csv('Airbnb_Texas_Rentals.csv', sep=',', encoding='utf-8', usecols=cols)

In [3]:
# Printed example of 3 rows
airbnbrentals.loc[0:2,]

,average_rate_per_night,bedrooms_count,city,date_of_listing,description,latitude,longitude,title,url
0,$27,2,Humble,May 2016,Welcome to stay in private room with queen bed...,30.020138,-95.293996,2 Private rooms/bathroom 10min from IAH airport,https://www.airbnb.com/rooms/18520444?location...
1,$149,4,San Antonio,November 2010,"Stylish, fully remodeled home in upscale NW – ...",29.503068,-98.447688,Unique Location! Alamo Heights - Designer Insp...,https://www.airbnb.com/rooms/17481455?location...
2,$59,1,Houston,January 2017,'River house on island close to the city' \nA ...,29.829352,-95.081549,River house near the city,https://www.airbnb.com/rooms/16926307?location...

# Step 2: Create documents

In this step we are creating i tsv files to save all the information.

In [4]:
# Create directory to save the documents if doesn't exist
directory = "documents"
if not os.path.exists(directory):
    os.makedirs(directory)

# Create all tsv files, each per row
nRowsOrFiles = airbnbrentals.shape[0] #this variable is the number of rows or files
for i in range(0, nRowsOrFiles): 
    #Write the tsv file
    airbnbrentals.loc[i:i,].to_csv('documents/doc_'+str(i)+'.tsv', sep='\t', encoding='utf-8', index = False)

In [5]:
# Read one tsv file to see result
pd.read_csv('documents/doc_2.tsv', sep='\t', encoding='utf-8')

,average_rate_per_night,bedrooms_count,city,date_of_listing,description,latitude,longitude,title,url
0,$59,1,Houston,January 2017,'River house on island close to the city' \nA ...,29.829352,-95.081549,River house near the city,https://www.airbnb.com/rooms/16926307?location...

# Step 3: Search Engine

As a first common step, we have to preprocess the documents by:

- Removing stopwords
- Removing punctuation
- Stemming
- Anything else you think it's needed

In [6]:
# Create directory to save the documents if doesn't exist
directory = "documentsCleaned"
if not os.path.exists(directory):
    os.makedirs(directory)
# This function takes all documents and removes punctuation, stop words and do stemming
library.modifyDocs(nRowsOrFiles)

Test if it works reading one document:

In [7]:
#Example of a tsv document cleaned
pd.read_csv('documentsCleaned/doc_2.tsv', sep='\t', encoding='utf-8')

,average_rate_per_night,bedrooms_count,city,date_of_listing,description,latitude,longitude,title,url
0,$59,1,Houston,January 2017,river hous island close citi nA well maintain ...,29.829352,-95.081549,river hous near citi,https://www.airbnb.com/rooms/16926307?location...

## 3.1) Conjunctive query

At this moment, we are taking into account the description and title of each document. It means that the first Search Engine will evaluate queries with respect to the aforementioned information.

### 3.1.1) Create your index!

Create a inverted index of this format:

{
term_id_1:[document_1, document_2, document_4],
term_id_2:[document_1, document_3, document_5, document_6],
...}

Here we start creating a dic --> invertedIndex to store all the values.
Then we loop trough all documents adding docs to the inverted index using invertedIndexAdd function

In [8]:
# Start inverted index
invertedIndex = {}

# Loop all documents and make the inverted index
for i in range(0, nRowsOrFiles): 
    
    doc = pd.read_csv('documentsCleaned/doc_'+str(i)+'.tsv', sep='\t', encoding='utf-8')
    invertedIndex = library.invertedIndexAdd(invertedIndex, 'doc_'+str(i), doc, 'description')
    invertedIndex = library.invertedIndexAdd(invertedIndex, 'doc_'+str(i), doc, 'title')

Let's see the inverted index created:

In [9]:
# Print some key and values of the inverted index
print(BOLD + 'seven' + END, "=>", ", ".join(invertedIndex[library.cleanString('seven')]))
print(BOLD + 'expensive' + END, "=>", ", ".join(invertedIndex[library.cleanString('expensive')]))

seven => doc_32, doc_277, doc_654, doc_1828, doc_2022, doc_2304, doc_2531, doc_3530, doc_3874, doc_3963, doc_4101, doc_4154, doc_4300, doc_4483, doc_4724, doc_4752, doc_4947, doc_5057, doc_5188, doc_5293, doc_5299, doc_5491, doc_7181, doc_7211, doc_7253, doc_7538, doc_7852, doc_8045, doc_8134, doc_8160, doc_9016, doc_9806, doc_10241, doc_10586, doc_12843, doc_13450, doc_14201, doc_15030, doc_15518, doc_16490, doc_16843, doc_18068
expensive => doc_3795, doc_3862, doc_3960, doc_4443, doc_4588, doc_6960, doc_7314, doc_7829, doc_8664, doc_8809, doc_10897, doc_12725, doc_12811, doc_13508, doc_13546, doc_15986, doc_16850, doc_17089, doc_17238

Writting invertedIndex into inverted_index.txt

In [10]:
# Write invertedIndex to a txt file
json.dump(invertedIndex, open("inverted_index.txt",'w'))

Reading inverted_index.txt as dictionary

In [11]:
# Load invertedIndex from a txt file
invertedIndex = json.load(open("inverted_index.txt"))

### 3.1.2) Execute the query

Given a query: *a beautiful house with garden and beach*

In [32]:
query = 'a beautiful house with bedrooms and garden'

We search the documents that contain the query through our invertedIndex

In [33]:
searchedResults = library.searchQueryConjunctive(invertedIndex, query)

Query intruduced: a beautiful house with bedrooms and garden
Cleaned query: beauti hous bedroom garden

We short the documents by frecuency of appearance

In [34]:
# Short the results
sortedResults = sorted(searchedResults.items(), key=lambda kv: -kv[1])
# Print 10 shorted results
print(BOLD + 'Doc_id and number of coincidences: ' + END + str(sortedResults[0:10]))
# Find how many cleaned words contain the query
numberOfQueryWords = library.cleanString(query).split()
print(BOLD + 'Number of cleaned words: ' + END + str(len(numberOfQueryWords)))

Doc_id and number of coincidences: [('doc_14254', 4), ('doc_11331', 4), ('doc_6447', 4), ('doc_2823', 4), ('doc_11603', 4), ('doc_566', 4), ('doc_5509', 4), ('doc_1', 4), ('doc_15035', 4), ('doc_6225', 4)]
Number of cleaned words: 4

Look if the doc have the same coincidences as the number of query words to just show that results

In [35]:
# List of pandas df
dfs = []
# Loop through all the sorted resulst and see if the number of coincidences is equal to the number of words of the query
for i in range(0, len(sortedResults)):
    if sortedResults[i][1] == len(numberOfQueryWords):
        dfs.append(pd.read_csv('documents/doc_'+str(i)+'.tsv', sep='\t', encoding='utf-8', usecols=['title', 'description', 'city', 'url']))

if(len(dfs) != 0):
    # Concatenate all data into one DataFrame
    big_frame = pd.concat(dfs, ignore_index=True)
    # Reorder columns 
    df = big_frame.loc[:, ['title', 'description', 'city', 'url']]
    # Display dataframe result of the query
    display(df)
else:
    print("No conjuctive results found")

,title,description,city,url
0,2 Private rooms/bathroom 10min from IAH airport,Welcome to stay in private room with queen bed...,Humble,https://www.airbnb.com/rooms/18520444?location...
1,Unique Location! Alamo Heights - Designer Insp...,"Stylish, fully remodeled home in upscale NW – ...",San Antonio,https://www.airbnb.com/rooms/17481455?location...
2,River house near the city,'River house on island close to the city' \nA ...,Houston,https://www.airbnb.com/rooms/16926307?location...
3,Private Room Close to Campus,Private bedroom in a cute little home situated...,Bryan,https://www.airbnb.com/rooms/11839729?location...
4,The Porch,Welcome to our original 1920's home. We recent...,Fort Worth,https://www.airbnb.com/rooms/17325114?location...
5,Gorgeous Home with Country Setting,"My place is close to Lake Conroe, family-frien...",Conroe,https://www.airbnb.com/rooms/14466133?location...
6,Cozy and Quaint Country Retreat with Acreage.,Rustic country retreat on 8 acres southeast of...,Cedar Creek,https://www.airbnb.com/rooms/12491762?location...
7,Friendly Private Room in َQuiet Neighborhood,This is a beautiful bedroom with a queen size ...,Fort Worth,https://www.airbnb.com/rooms/18977363?location...
8,608 - Bayfront Condos,First class and comfortable condo with the bes...,Rockport,https://www.airbnb.com/rooms/17559848?location...
9,Cozy Historic Private Studio,Private entrance to your own \,San Antonio,https://www.airbnb.com/rooms/1588127?location=...
10,Cozy 1 bedroom/bathroom with pool,My cool and comfortable bedroom apartment feel...,Irving,https://www.airbnb.com/rooms/7276294?location=...